includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    paths:
        - config
        - src
        - tests

    configDirectories:
        - config

    level: max

    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            reportUnmatched: false
